.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --color-rating-star: #FFBD11;
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.product-rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin: 0.8rem 0 1.2rem;
}

.card-information .product-rating {
  justify-content: start;
}

.product-rating .rating .rating-star {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-rating .rating .rating-star .icon-rating-star {
  color: var(--color-rating-star);
  height: 20px;
  width: 20px;
}

.product-rating .rating-count {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-foreground));
  font-size: 16px;
}

.card-wrapper .card .card__content .product-rating .rating-count {
  font-size: 16px;
  width: 100%;
}

/* .rating-star::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--color-rating-star) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}

@media only screen and (max-width: 749px) {
  .product-rating .rating .rating-star .icon-rating-star {
    height: 1.4rem;
    width: 1.4rem;
  }
  .card-wrapper .card .card__content .product-rating .rating-count {
    font-size: 12px;
  }
}
