.product__title h1 {
  font-size: 40px;
}

@media only screen and (max-width: 767px) {
  .product__title h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .product__info-wrapper {
    padding-left: 0px;
  }
  .page-width {
    padding-left: 16px;
    padding-right: 16px;
  }
  media-gallery {
    max-width: 575px;
    margin: auto;
  }
}

.dc_okendo-and-text-container {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #6c7b91;
  gap: 8px;
}

.oke-sr-count {
  text-decoration: underline;
  font-weight: 600;
}
.dc_okendo-companion-text,
.oke-sr-count-number,
.oke-sr-label-text {
  font-size: 14px;
  letter-spacing: normal;
}
.oke-sr-label-text {
  display: none;
}

.oke-stars svg {
  height: 14px;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .dc_okendo-and-text-container {
    gap: 4px;
  }
  .oke-sr-stars {
    margin-right: 4px;
  }
  .oke-sr > div {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .oke-sr-count {
    text-wrap: nowrap;
  }
}

@media only screen and (max-width: 374px) {
  .dc_okendo-and-text-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
